<a href="https://colab.research.google.com/github/angryprincess/College-Code/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("Enter the number of rows: "))
for row in range(n):
  for column in range(row+1):
    print("*", end=" ")
  print()
for row in range(n-1, 0, -1):
  for column in range(1, row+1):
    print("*", end=" ")
  print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:

n=int(input("Enter the number of rows: "))
'''for row in range(n):
  for column in range(row+1):
    print(" ", end=" ")
  for column in range(row, n):
    print("*", end=" ")
  print()'''
for row in range(n):
  for column in range(row+1):
    print(" ", end=" ")
  for column in range(row, n):
    print("*", end=" ")
  print()

Enter the number of rows: 5
  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:

n=int(input("Enter the number of rows: "))
for row in range(n):
  for column in range(row+1):
    print("*", end=" ")
  print()
for row in range(n-1, 0, -1):
  for column in range(1, row+1):
    print("*", end=" ")
  print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
n=int(input("Enter the number of rows: "))
for row in range(n):
  for column in range(n):
    if(row==column or row+column==n-1 or column==0 or column==n-1):
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print()

Enter the number of rows: 8
*             *
* *         * *
*   *     *   *
*     * *     *
*     * *     *
*   *     *   *
* *         * *
*             *